#docsArticle .article-body {
	td,
	th {
		padding: $padding-sm;
	}
}

#docsTOC {
	.nav-link {
		padding-left: 0;
		padding-right: 0;

		&:focus,
		&.active {
			color: $color-primary-focus;
		}

		&:hover {
			color: $color-primary-hover;
		}

		&.active {
			font-weight: $font-weight-semi-bold;
		}
	}

	@include media-breakpoint-down(sm) {
		display: none;
	}
}

#systemStatusBanner {
	margin-top: $margin-md;
}

.article-author,
.meta-group {
	display: flex;
}

.article-author {
	margin-bottom: $margin-default;

	.avatar {
		margin-right: $avatar-spacer-right;
		margin-top: 0.125rem;
	}
}

.article-body {
	color: $color-body;

	p + a[id] {
		margin-top: -3.5rem;
		padding-top: 3.5rem;
	}
}

.article-content {
	padding-bottom: 2.5rem;

	h2,
	h3,
	h4 {
		margin-bottom: $margin-default;
		margin-top: $margin-default;

		a {
			color: $color-body;

			&::before {
				content: '';
				display: block;
				margin-top: -4.5rem;
				padding-top: 4.5rem;
				pointer-events: none;
				visibility: hidden;
			}
		}
	}

	code,
	pre {
		border-radius: $border-radius;
		font-family: 'Roboto Mono', SFMono-Regular, monospace;
		font-size: $code-font-size;
		line-height: $code-line-height;
	}

	code {
		background-color: $color-divider;
		padding: 0.125rem 0.25rem;
	}

	pre {
		background-color: $color-body;
		color: $pre-text-color;
		padding: $padding-md 1.25rem;

		code {
			background-color: inherit;
			font-weight: $font-weight-light;
			padding: 0;
		}
	}

	img {
		max-width: 100%;
	}

	.next {
		float: right;
	}
}

.article-footer {
	padding-bottom: 4rem;

	.article-label {
		background-color: $color-grey;
		border-width: 0;
		font-weight: normal;
		height: 1.25rem;
		margin: 3rem 0;
		padding: 0.25rem 0.5rem;

		.label-item {
			color: $secondary-text-color;
			font-size: 0.625rem;
			font-weight: $font-weight-semi-bold;
			height: 1rem;
			line-height: 0.875rem;
			text-align: center;
			text-transform: uppercase;
		}
	}

	.article-votes {
		.article-votes-controls {
			padding: $padding-md 0;
		}

		.article-votes-question {
			font-style: italic;
		}

		.article-vote {
			margin-right: $margin-md;
			width: 6rem;

			&:after {
				content: attr(title);
			}
		}
	}
}

.article-relatives {
	@include media-breakpoint-down(sm) {
		display: flex;
		margin: 0;

		.related-articles {
			width: 50%;
		}
	}

	@include media-breakpoint-down(xs) {
		display: block;
	}
}

.article-sidenav {
	padding-bottom: 6rem;
	padding-right: 2.5rem;

	a {
		color: $color-body;
		text-decoration: none;
	}

	.active > a {
		border-left: 2.5px solid $color-primary-focus;
		color: $color-primary-focus;
		font-weight: $font-weight-semi-bold;
	}

	.collapsible-sidebar {
		cursor: pointer;
		display: none;
		height: $navbar-height;

		h4 {
			display: inline;
			vertical-align: middle;
		}

		.lexicon-icon-menu-hamburger {
			height: 1rem;
			margin: 1.25rem;
			width: 1rem;
		}

		@include media-breakpoint-down(sm) {
			display: block;

			& + .sidenav-content {
				display: none;
			}

			&[aria-expanded='true'] {
				& + .sidenav-content {
					display: block;
				}
			}

			.lexicon-icon-menu-hamburger {
				display: inline-block;
			}
		}
	}

	.nav-item {
		&:first-child {
			margin-top: $margin-sm;
		}

		&:last-child {
			margin-bottom: $margin-sm;
		}
	}

	.sidenav {
		background-color: $color-grey;
		border-radius: $input-border-radius;
	}

	.sidenav-fallback {
		display: none;

		&.show {
			display: block;
		}
	}

	.sidenav-item {
		display: block;
		padding: $padding-sm $padding-default;

		&:focus {
			background-color: $color-grey-focus;
		}

		&:hover {
			background-color: $color-grey-hover;
		}
	}

	.sidenav-tree {
		max-height: 75vh;
		overflow: auto;

		.nav-nested {
			.nav > li {
				font-weight: normal;
				margin: 0;

				&:last-child {
					margin-bottom: 0;
				}

				> a {
					display: block;
					padding: $padding-sm 0 $padding-sm 2.25rem;
				}
			}
		}

		.sidenav-item {
			&.btn-unstyled {
				padding: $padding-sm $padding-default;
				width: 100%;

				&:focus,
				&.expanded,
				&.expanded:hover {
					background-image: clay-icon(angle-down, $color-body);
					font-weight: $font-weight-semi-bold;
				}

				&:hover,
				&.expanded {
					background-position: right 0.8rem top 1rem;
					background-repeat: no-repeat;
					background-size: 0.65rem;
				}

				&:hover {
					background-image: clay-icon(angle-right, $color-body);
				}
			}
		}
	}

	@include media-breakpoint-down(sm) {
		padding-bottom: $padding-default;
		padding-right: $padding-md;
	}
}

.article-title {
	margin-bottom: $margin-default;
}

.gate-signin-prompt {
	background-color: $color-grey;
	border-radius: $border-radius;
	border-top: 2px solid $secondary-text-color;
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
	margin-top: -0.5rem;
	padding: 3rem;

	.external-link-prompt {
		display: block;
		font-size: $h5-font-size;
		margin-top: 0.625rem;
	}

	.gate-prompt-description {
		margin: 0.5rem 0 $margin-md;
	}

	.icon {
		height: 0.625rem;
		width: 0.625rem;
	}
}

.meta-group {
	list-style: none;
	margin-bottom: 0;
	padding: 0;
}

.recent-articles,
.related-articles {
	margin-bottom: 1.5rem;

	h3 {
		font-size: $h4-font-size;
		line-height: $line-height-base;
		margin-bottom: $margin-sm;
	}

	ul {
		list-style: none;
		padding: 0;
	}

	li {
		font-size: $font-size-sm;
		line-height: $line-height-sm;
		padding-bottom: $padding-default;
	}
}

.toc-body {
	&.fixed {
		max-width: 16.66667%;
		position: fixed;
		top: $navbar-height;
	}

	.toc-heading {
		padding-bottom: 0.5rem;
		padding-top: $padding-default;
	}
}
