.search {
	.search-lg {
		input[type="search"] {
			background-color: $color-input-grey;
			background-image: clay-icon(search, $color-primary);
			color: $color-default;

			&::placeholder {
				color: $secondary-text-color;
			}

			&:active,
			&:focus {
				background-color: $color-hover;
			}

			&:focus {
				background-image: clay-icon(times, $color-default);
			}
		}
	}

	.search-results {
		.breadcrumbs {
			margin-bottom: 0;
			margin-top: 0.5rem;
		}
	
		.no-results {
			display: none;
			margin-bottom: 10rem;
	
			&.show {
				display: flex;
			}
	
			.no-results-msg {
				padding-left: $padding-default;
	
				h4 {
					margin-bottom: $margin-default;
					margin-top: 0.25rem;
				}
			}
		}
	
		.search-filter {
			align-items: baseline;
			display: flex;
			margin: $margin-default 0;
	
			label {
				font-size: $font-size-default;
			}
	
			select {
				background-color: $input-bg;
				border: $input-border-width solid $input-border-color;
				margin-left: $margin-md;
			}
		}
	
		.search-result-description {
			font-weight: $font-weight-normal;
	
			em {
				font-style: initial;
				font-weight: $font-weight-semi-bold;
			}
		}
	
		.search-results-header {
			display: flex;
		}
	
		.search-results-list {
			list-style: none;
			margin-bottom: 3rem;
			padding: 0;
	
			.search-result {
				margin-bottom: $margin-default;
			}
		}
	}
}