.announcement-body,
.categories-main,
.section-content {
	.article-list {
		margin: 0;
		padding-left: 0;
		padding-right: $padding-default;

		.article-list-item {
			border-bottom: 1px solid $color-border;
			list-style: none;
			margin-bottom: $margin-md;
			padding-bottom: $padding-md;
		}
	}

	.section {
		margin-bottom: $margin-default;
	}

	.section-name {
		color: $color-default;
		margin-bottom: $margin-default;
	}
}

.categories-main,
.section-content {
	margin-bottom: 6rem;

	.alert {
		margin-top: $margin-md;
	}
}

.products-landing,
.products-landing-tab-content {
	display: flex;
	flex-wrap: wrap;
}

.products-landing {
	.product-card {
		width: 30%;
	}
}

.products-landing-tab-content {
	.product-card {
		width: 45%;
	}
}

.products-landing-tablist {
	color: $secondary-text-color;
	padding-top: $padding-default;

	.nav-item {
		margin-bottom: 0.5rem;
	}

	.nav-link {
		&:focus {
			box-shadow: none;
		}

		&:hover,
		&.active {
			background-color: $color-active;
			border-radius: $border-radius;
			color: $color-primary-focus;
		}

		&.active {
			font-weight: $font-weight-semi-bold;
		}
	}
}

@include media-breakpoint-down(sm) {
	.products-landing,
	.products-landing-tab-content {
		.product-card {
			width: 100%;
		}
	}
}