.alert-indicator {
	margin-right: 0.3125rem;
}

.notification {
	@include border-radius(0);

	border-width: 0 0 1px;
	font-family: inherit;
	font-size: 0.875rem;
	position: fixed;
	top: 4rem;
	z-index: 1;

	.notification-icon {
		&:before {
			line-height: 1.125rem;
		}
	}

	.notification-text {
		ul {
			list-style: none;
			margin: 0;
			padding-left: $padding-md;
		}
	}
}

.notification-error {
	background-color: $color-error-background;
	border-color: $color-error-border;
	color: $color-error;

	.notification-dismiss {
		&:before {
			color: $color-error;
		}
	}
}

.notification-inline {
	@include border-radius($border-radius);

	font-family: inherit;
	font-weight: $font-weight-normal;
	line-height: $line-height-base;
	margin-bottom: $margin-md;
	margin-top: $margin-md;
	padding: $input-padding-y $input-padding-x;
	position: relative;
	top: 0;
}

.notification-notice {
	background-color: $color-info-background;
	border-color: $color-info-border;
	color: $color-info;

	.notification-dismiss {
		&:before {
			color: $color-info;
		}
	}
}