.breadcrumbs {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: $margin-default 0;
	padding: 0;

	li {
		font-size: 0.75rem;
		margin-right: 0.5em;
		position: relative;

		+ li {
			padding-left: 1em;

			&::before {
				background-image: clay-icon(
					angle-right,
					$breadcrumb-divider-color
				);
				background-repeat: no-repeat;
				background-size: 100%;
				content: "";
				display: block;
				float: left;
				height: $breadcrumb-divider-svg-icon-height;
				left: 0;
				margin-top: -$breadcrumb-divider-svg-icon-height / 2;
				padding: 0;
				position: absolute;
				top: 50%;
				width: $breadcrumb-divider-svg-icon-width;
			}
		}

		a {
			color: $breadcrumb-active-color;

			&:hover {
				text-decoration: none;
			}
		}
	}
}