.search-results {
	margin-top: 2.5rem;

	.breadcrumbs {
		margin-bottom: 0;
		margin-top: 0.25rem;
	}

	.no-results {
		display: none;
		margin-bottom: 10rem;

		&.show {
			display: flex;
		}

		.no-results-msg {
			padding-left: $padding-default;

			h4 {
				margin-bottom: $margin-default;
				margin-top: 0.25rem;
			}
		}
	}

	.page-header-description {
		margin-bottom: $margin-md;
	}

	.search-filter {
		align-items: baseline;
		display: flex;
		margin: $margin-default 0;

		label {
			font-size: $font-size-default;
		}

		select {
			border: 0;
			margin-left: $margin-md;
		}
	}

	.search-result-description {
		font-weight: $font-weight-normal;
		margin-bottom: 0;

		em {
			font-style: initial;
			font-weight: $font-weight-semi-bold;
		}
	}

	.search-results-list {
		list-style: none;
		margin-bottom: 3rem;
		padding: 0;

		.search-result {
			margin-bottom: 2rem;
		}
	}
}