.homepage {
	.announcements {
		.announcement {
			display: inline-block;
		}

		.announcement-body {
			margin-bottom: 3.5rem;
			margin-left: 3rem;
		}

		.announcement-heading {
			align-items: center;
			display: flex;
		}

		.announcement-icon {
			height: 2rem;
			margin-right: 1rem;
			width: 2rem;
		}

		.cta {
			border: 1px solid $color-border;
			border-radius: $border-radius;
			box-shadow: 0 6px 15px -7px rgba(9, 16, 29, 0.05);
			padding: $padding-medium $padding-default $padding-default;
		}
	}

	.banner {
		align-items: center;
		display: flex;
		min-height: 26.5rem;

		.display {
			margin-bottom: $margin-medium;

			@include media-breakpoint-down(sm) {
				margin-top: 6rem;
			}
		}

		.banner-img-container {
			.img {
				margin-top: 3.125rem;
				max-height: 100%;
				max-width: 100%;
			}

			@include media-breakpoint-down(sm) {
				display: none;
			}
		}
	}

	.suggested-topics {
		margin-bottom: 7.5rem;
		margin-top: 6rem;

		h2 {
			margin-bottom: $margin-small;
		}

		.topic {
			h3,
			p {
				margin-bottom: $margin-default;
			}
		}
	}
}