.need-help {
	border-top: 1px solid $color-divider;
	padding-bottom: 4rem;
	padding-top: 4rem;

	h2 {
		margin-bottom: $margin-default;
		margin-top: 0;
	}

	.action-item {
		padding-bottom: $padding-default;
		padding-top: 1.25rem;

		.disclaimer {
			padding-top: $padding-md;
		}

		.icon {
			background-color: $color-grey;
			border-radius: 50%;
			height: 2rem;
			width: 2rem;
		}

		.link {
			padding-left: $padding-md;
			padding-right: $padding-default;
		}

		.name {
			display: flex;
		}
	}
}