.homepage {
	.announcements {
		.announcement {
			display: inline-block;
		}

		.announcement-body {
			margin-bottom: 3rem;
			margin-left: 3.25rem;
			margin-top: $margin-default;
		}

		.announcement-heading {
			align-items: center;
			display: flex;
			margin-top: $margin-default;
		}

		.announcement-icon {
			height: 2.5rem;
			margin-right: $margin-sm;
			width: 2.5rem;
		}

		.article-list-item a {
			color: $color-body;
		}

		.cta {
			background-color: $color-grey;
			border-radius: $border-radius;
			margin-bottom: 4rem;
			padding: 3rem $padding-default;
			text-align: center;
			width: 100%;

			.btn-outline-primary {
				margin-top: $margin-default;
			}
		}
	}

	.banner {
		align-items: center;
		display: flex;
		min-height: 26.5rem;

		.banner-img-container {
			.img {
				margin-top: 3.125rem;
				max-height: 100%;
				max-width: 100%;
			}

			@include media-breakpoint-down(sm) {
				display: none;
			}
		}

		.display {
			margin-bottom: $margin-md;

			@include media-breakpoint-down(sm) {
				margin-top: 6rem;
			}
		}
	}

	.suggested-topics {
		margin-bottom: 7.5rem;
		margin-top: 4rem;

		h2 {
			margin-bottom: $margin-sm;
		}

		.topic {
			h3,
			p {
				margin-bottom: $margin-default;
			}
		}
	}
}