.categories-main,
.section-content {
	margin-bottom: 6rem;

	.article-list {
		margin: 0;
		padding-left: 0;
		padding-right: $padding-default;

		.article-list-item {
			border-bottom: 1px solid $color-border;
			list-style: none;
			margin-bottom: $margin-medium;
			padding-bottom: $padding-medium;
		}
	}

	.section {
		margin-bottom: $margin-default;
	}

	.section-name {
		color: $color-default;
		margin-bottom: $margin-default;
	}
}

.dxp-cloud-products {
	display: flex;
	flex-wrap: wrap;

	.product-card {
		display: flex;
		flex: 1 0 auto;
		width: 30%;
	}
}