/* ---------- Color variables ---------- */

$color-active: #F3F7FF !default;
$color-default: #09101D !default;
$color-default-disabled: #A3A9BA !default;
$color-disabled: #B3CDFF !default;
$color-body: #2A303E !default;
$color-border: #CED3DE !default;
$color-divider: #E9EBF0 !default;
$color-error: #DA1414 !default;
$color-error-background: #FEEFEF !default;
$color-error-border: #F48989 !default;
$color-focus: #EBF0FA !default;
$color-hover: #F0F5FF !default;
$color-info: #2E5AAC !default;
$color-info-background: #EEF2FA !default;
$color-info-border: #89A7E0 !default;
$color-primary: #0B5FFF !default;
$color-primary-focus: #004AD7 !default;
$color-primary-focus-border: #71A2FF !default;
$color-primary-hover: #0053F0 !default;
$color-success: #287D3C !default;
$color-warning: #B95000 !default;

$color-grey: #F7F8F9 !default;
$color-grey-focus: #F0F1F2 !default;
$color-grey-hover: #F2F4F5 !default;
$color-white: #FFF !default;

$pre-text-color: #F8FAFF !default;
$secondary-text-color: #5B6170 !default;

/* ---------- Variable overrides ---------- */

$font-family-base: "Source Sans Pro", "Source Serif Pro", -apple-system,
	BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
	"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

$font-weight-light: 200 !default;
$font-weight-semi-bold: 600 !default;

$small-font-size: 0.75rem !default; // 12px

$h1-font-size: 2rem !default; // 32px
$h2-font-size: 1.5rem !default; // 24px
$h3-font-size: 1rem !default; // 16px
$h4-font-size: 1rem !default; // 16px
$h5-font-size: 0.875rem !default; // 14px
$h6-font-size: $small-font-size !default; // 12px

$code-font-size: 14px !default; // set pixel value to prevent nested <pre> and <code> from scaling down font size

$line-height-sm: 1.333 !default; // 18px

$alert-info-bg: $color-info-background !default;
$alert-info-border-color: $color-info-border !default;
$alert-info-color: $color-info !default;

$autofit-padded-col-padding-x: 1rem !default; // 16px
$autofit-padded-col-padding-y: 1.5rem !default; // 24px

$breadcrumb-active-color: null !default;
$breadcrumb-divider-color: null !default;
$breadcrumb-margin-bottom: 3rem !default; // 48px

$body-color: $color-default !default;

$btn-padding-x: 1rem !default; // 16px
$btn-padding-y: 0.5rem !default; // 8px
$btn-padding-x-sm: 0.75rem !default; // 12px
$btn-padding-y-sm: 0.375rem !default; // 6px

$container-max-widths: (
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 1248px
) !default;

$form-group-autofit-margin-bottom: 2rem !default; // 32px
$form-group-item-label-spacer: 1.875rem !default; // 30px

$input-border-color: $color-border !default;
$input-disabled-bg: $color-divider !default;
$input-height: 2.5rem !default; // 40px
$input-height-lg: 4rem !default; // 64px
$input-label-font-size: 0.875rem !default; // 14px
$input-padding-x: 1rem !default; // 16px
$input-padding-y: 0.5rem !default; // 8px

$lexicon-icon-width: 1rem !default; // 16px

$link-color: $color-primary !default;

$panel-body-padding-y: 1.5rem !default; // 24px
$panel-border-color: $color-border;
$panel-border-radius: 0 !default;
$panel-header-offset-border-radius: 0 !default;
$panel-header-padding-x: 0 !default;
$panel-header-padding-y: 1rem !default; // 16px

$primary: $color-primary !default;

$table-cell-padding: 1.25rem !default; // 20px
$table-list-border-radius: 0 !default;
$table-list-border-x-width: 0 !default;
$table-responsive-margin-bottom: 3rem !default; // 48px

$nav-link-padding-x: 1.5rem !default; // 24px

$navbar-height: 4rem !default;
$navbar-padding-x: 0 !default;

/* ---------- Custom variables ---------- */

$h1-display-font-size: 3rem !default; // 48px

$h6-line-height: 16px !default;

$font-size-default: 1rem !default; // 16px

$code-line-height: 24px !default; // set pixel value to prevent nested <pre> and <code> from scaling down line height

$label-sm: (
	font-size: 0.625rem, // 10px
	height: 1rem, // 16px
	padding-x: 0.375rem, // 6px
	padding-y: 0.2rem // 3.2px
) !default;

$secondary-text-line-height: 1.429 !default;

$margin-default: 1.5rem !default; // 24px
$margin-md: 1rem !default; // 16px
$margin-sm: 0.75rem !default; // 12px

$padding-default: 1.5rem !default; // 24px
$padding-md: 1rem !default; //16px
$padding-sm: 0.75rem !default; // 12px

$avatar-spacer-right: 1rem !default; // 16px

$breadcrumb-divider-svg-icon: clay-icon(angle-right, $breadcrumb-divider-color) !default;
$breadcrumb-divider-svg-icon-height: 0.75em !default;
$breadcrumb-divider-svg-icon-width: $breadcrumb-divider-svg-icon-height !default;