.pagination {
	margin: $pagination-margin-bottom 0;

	a,
	button,
	span {
		color: $color-default;
		display: block;
		line-height: $pagination-line-height;
		padding: $pagination-padding-y $pagination-padding-x;
		position: relative;
		text-decoration: none;

		&:active,
		&:focus,
		&:hover {
			border-radius: 10%;
		}

		&:hover {
			background-color: $color-hover;
		}

		&:focus {
			outline: none;
		}
	}

	ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
		list-style: none;
	}

	.pagination-current span {
		background-color: $color-active;
		color: $color-primary;
	}
}