.panel {
	border-left: 0;
	border-right: 0;

	&.show {
		.panel-body {
			display: block;
		}

		.panel-header {
			&::after {
				background-image: clay-icon(
					angle-down,
					$secondary-text-color
				);
			}
		}
	}
}

.panel-body,
.panel-header {
	padding-left: 0;
}

.panel-body {
	border-top: 1px solid $color-border;
	color: $secondary-text-color;
	display: none;
	font-size: $font-size-sm;
	line-height: $secondary-text-line-height;
}

.panel-header {
	cursor: pointer;

	&::after {
		background-image: clay-icon(
			angle-right,
			$secondary-text-color
		);
		background-repeat: no-repeat;
		background-size: 100%;
		content: "";
		float: right;
		height: 1rem;
		position: absolute;
		right: 0.5rem;
		top: 40%;
		width: 1rem;
	}
}

.panel-title {
	padding-right: 2rem;
}