.footer {
	padding-top: 4rem;

	.copyright {
		border-top: 1px solid $color-divider;
		margin-top: 4rem;
		padding-bottom: 3.5rem;
		padding-top: $padding-default;
		text-transform: uppercase;

		.lexicon-icon-language {
			margin-right: 0.5rem;
			margin-top: 0.175rem;
		}
	}

	.footer-links {
		list-style: none;
		margin: $margin-default 0 0 0;
		padding: 0;

		li {
			margin-bottom: $margin-medium;

			a {
				color: $secondary-text-color;
			}
		}
	}

	.language-selector,
	.social-links {
		display: flex;
		justify-content: flex-end;

		@include media-breakpoint-down(sm) {
			justify-content: left;
		}

		.social-icon {
			align-items: center;
			background-color: $color-grey;
			border-radius: 50%;
			display: flex;
			flex-direction: row;
			height: 2rem;
			justify-content: center;
			width: 2rem;

			&:not(:first-child) {
				margin-left: $margin-default;
			}

			a {
				color: $color-default;
			}
		}
	}

	.liferay-logo {
		height: 64px;
		width: 118px;
	}
}