.header {
	background-color: $color-brand;
	color: rgba(255, 255, 255, 0.85);
	left: 0;
	margin: auto;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 5000;

	&.hide-header {
		background: linear-gradient(107.81deg, #113B87 0.45%, rgba(17, 59, 140, 1) 28.91%, rgba(16, 56, 124, 1) 100%);
	}

	&.scroll-shadow {
		box-shadow: 0 2px 2px -2px rgba(9, 16, 29, 0.3);
		
		&.hide-header {
			background: $color-brand;
		}
	}

	.header-content {
		align-items: center;
		display: flex;
		height: $navbar-height;

		&.user-wrapper {
			justify-content: flex-end;

			input[type="search"] {
				

				&::placeholder {
					color: $color-white;
				}
			}
		}

		.header-link {
			display: block;
			height: 1.5rem;
			padding-right: 0.5rem;
			width: 2rem;

			.header-logo {
				height: 100%;
				width: 100%;
			}
		}

		.site-name {
			color: $color-white;
			margin: 0;

			@include media-breakpoint-down(sm) {
				display: none;
			}
		}
	}

	.header-inner {
		justify-content: space-between;
	}

	.header-menu {
		background-color: $color-white;
		border-top: 1px solid $color-divider;
		cursor: initial;
		display: none;
		left: 0;
		min-height: 432px;
		position: fixed;
		top: $navbar-height;
		width: 100%;

		.header-menu-content {
			padding: 3rem 0;

			.card-menu {
				.nav-card {
					display: inline-block;
					margin-bottom: 0.25rem;
					padding: 1.25rem $padding-default $padding-md;
					width: 50%;

					&:hover {
						background-color: $color-grey;
						color: $secondary-text-color;
						text-decoration: none;
					}
				}
			}

			.card-menu-container {
				margin: 0 auto;
				width: 60%;
			}

			.menu-body {
				display: flex;

				h6 {
					margin-top: 2rem;
					text-orientation: sideways;
					writing-mode: vertical-rl;
				}
			}

			.submenu {
				border-left: 1px solid $color-divider;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				padding: 0.5rem 0;

				&.language-selection {
					padding: 0 2rem;

					svg {
						height: 2.5rem;
						width: 2.5rem;
					}

					.available-languages {
						padding: 0 $padding-md;

						a {
							color: $secondary-text-color;
							display: block;
							padding: 0.5rem 0;
						}

						.current {
							color: $color-default;
						}
					}
				}

				.highlighted {
					padding: 0 $padding-md;

					svg {
						background-color: $color-grey;
						border-radius: 50%;
						margin: $margin-sm $margin-md;
					}

					.title {
						color: $color-primary;
					}
				}

				.language {
					padding: 0 $padding-default;

					.nav-card {
						padding: $padding-md;

						svg {
							width: 0.875rem;
						}

						.title {
							color: $secondary-text-color;
						}
					}
				}
			}
		}
	}

	.header-menu-list {
		justify-content: center;

		h5 {
			margin-bottom: 0;
		}

		.list-item {
			border-radius: $border-radius;
			padding: 0.5rem 0.5rem 0.5rem 0.75rem;
			position: relative;

			&:hover,
			&.active {
				color: $color-white;

				.lexicon-icon-menu-caret {
					visibility: visible;
				}
			}

			&:hover {
				background-color: rgba(9, 16, 29, 0.4);
				cursor: pointer;
			}

			&.active {
				.lexicon-icon-menu-caret {
					transform: rotate(180deg);
				}

				.header-menu {
					box-shadow: 0 4px 15px 0 rgba(9, 16, 24, 0.03), 0 20px 40px 0 rgba(9, 16, 29, 0.09);
					display: block;
				}
			}

			.lexicon-icon-menu-caret {
				height: $lexicon-icon-height;
				margin-bottom: 0.05rem;
				pointer-events: none;
				width: $lexicon-icon-width;
				visibility: hidden;
			}
		}
	}

	.user {
		padding-left: $padding-md;

		.btn.dropdown-toggle {
			padding: 0;
		}

		#user #user-name,
		.dropdown-toggle:after {
			display: none;
		}

		.user-avatar {
			border-radius: 50%;
			max-height: 2rem;
		}
	}
}