h1 {
	font-size: $h1-font-size;

	&.display {
		font-size: $h1-display-font-size;
		line-height: 1.17;
	}

	&.title {
		margin-bottom: 0.5rem;
	}

	@include media-breakpoint-down(sm) {
		font-size: $mobile-font-size;
		margin-bottom: $margin-default;

		&.display,
		&.title {
			margin-bottom: 0;
		}

		&.display {
			font-size: $h1-font-size;
			line-height: 1.5;
		}
	}
}

h1,
h2 {
	line-height: 40px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: $font-weight-semi-bold;
	margin: 0;
}

h2 {
	&.display {
		margin-bottom: $margin-md;
	}
}

h3,
h4 {
	line-height: $line-height-base;
}

h3,
h6 {
	text-transform: uppercase;
}

h2 {
	font-size: $h2-font-size;
	margin-top: $margin-default;
}

h3 {
	margin-top: $margin-sm;
}

h5 {
	font-size: $h5-font-size;
	line-height: 20px;
}

h6 {
	font-size: $h6-font-size;
	letter-spacing: 1px;
	line-height: $h6-line-height;
}

dd,
p {
	margin-bottom: $margin-default;
}

input[type="search"] {
	box-sizing: border-box;
}

input:not([type="submit"]),
select,
textarea,
.nesty-input,
.upload-dropzone {
	background-clip: border-box;
	border-radius: $input-border-radius;
	display: block;
	font-size: $font-size-base;
	line-height: $input-line-height;
	padding: $input-padding-y $input-padding-x;
	width: 100%;

	&:disabled,
	&[readonly] {
		background-color: $input-disabled-bg;
		color: $color-default-disabled;
	}

	&.input-small {
		font-size: $input-label-font-size;
		padding: $input-sm-padding-y $input-sm-padding-x;
	}
}

input:not([type="submit"]),
select,
select.form-control,
textarea,
.nesty-input {
	background-color: $color-input-grey;
	border-width: 0;
	color: $color-default;

	&::placeholder {
		color: $secondary-text-color;
	}

	&:active,
	&:focus {
		background-color: $color-hover;
		color: $color-default;
	}

	&:focus {
		border-color: $color-primary-focus-border;
		box-shadow: none;
	}
}

input:not([type="submit"]),
select,
.nesty-input {
	height: $input-height;
	z-index: auto;
}

main {
	border-bottom: 1px solid $color-divider;
}

textarea,
.upload-dropzone {
	height: auto;
}

.cta {
	background-color: $color-grey;
	border-radius: $border-radius;
	margin-bottom: 4rem;
	margin-top: 3rem;
	padding: 3rem $padding-default;
	text-align: center;
	width: 100%;

	.btn-outline-primary {
		margin-top: $margin-default;
	}
}

.form-field {
	margin-bottom: $form-group-margin-bottom;
}

.initiative-blurb {
	border-left: 2px solid $color-warning-border;
	font-style: italic;
	margin: 1.5rem 0 3rem;
	padding-left: $padding-default;

	.leading-text {
		color: $color-warning;
		font-weight: $font-weight-semi-bold;
	}
}

.initiative-label {
	border: 1px solid $color-warning-border;
	color: $color-warning;
	display: inline-block;
	font-weight: $font-weight-normal;
	margin-left: 0.5rem;
	text-decoration: none;
	text-transform: uppercase;
}

.label-sm {
	@include clay-label-size($label-sm);

	padding-bottom: 0.25rem;
}

.lexicon-icon-arrow-right {
	height: 0.5rem;
	margin-left: 0.25rem;
	width: 0.625rem;
}

.main-content {
	margin-top: $navbar-height;
}

.search-lg,
.search-nav {
	input[type="search"] {
		background-color: rgba(255, 255, 255, 0.2);
		background-image: clay-icon(search, $color-white);
		background-repeat: no-repeat;
		border: 0;
		color: $color-white;

		&::placeholder {
			color: $color-white;
		}

		&:focus {
			background-image: clay-icon(times, $color-white);
			background-size: 0.625rem;
		}
	}
}

.search-lg {
	input[type="search"] {
		background-position: right 1.5rem center;
		background-size: 1rem;	
		height: $input-height-lg;
		padding-left: $padding-default;
		padding-right: 2.8rem;
	}
}

.search-nav {
	width: 232px;

	input[type="search"] {
		background-position: right 0.7rem center;
		background-size: 0.75rem;
		font-size: $h5-font-size;
		height: 2.25rem;
		padding-right: 1.25rem;
	}
}

.secondary-font {
	font-size: $font-size-sm;
	line-height: $secondary-text-line-height;
}

.secondary-text-color {
	color: $secondary-text-color;
}

.semi-bold {
	font-weight: $font-weight-semi-bold;
}

.small {
	line-height: $line-height-sm;
}

.small-title {
	font-size: $small-title-font-size;
	font-weight: $font-weight-semi-bold;
	line-height: $small-font-line-height;
}

.upload-dropzone {
	color: $secondary-text-color;
}