<footer class="footer">
	<div class="container-fluid footer-inner">
		<div class="row">
			<div class="col-md-3">
				<h2>{{dc 'quick_links'}}</h2>
			</div>

			<div class="col-md-3">
				<h2>{{dc 'resources'}}</h2>
			</div>

			<div class="col-md-3">
				<h2>{{dc 'related_sites'}}</h2>

				<ul class="related-sites">
					<li>
						<a href="https://www.liferay.com">Liferay.com</a>
					</li>
					<li>
						<a href="https://www.liferay.com/group/customer/home">Customer Portal</a>
					</li>
				</ul>
			</div>

			<div class="col-md-3">
				<div class="social-links">
					<div class="social-icon">
						<a href="https://www.facebook.com/liferay">
							<svg class="lexicon-icon lexicon-icon-social-facebook">
								<use xlink:href="#social-facebook" />
							</svg>
						</a>
					</div>
				</div>

				<div class="social-links">
					<div class="social-icon">
						<a href="https://twitter.com/liferay">
							<svg class="lexicon-icon lexicon-icon-twitter">
								<use xlink:href="#twitter" />
							</svg>
						</a>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12 copyright">
				&copy; 2018 Liferay Inc. {{dc 'all_rights_reserved'}}
			</div>
		</div>
	</div>
</footer>