<h1 class="container-fluid container-fluid-max-xl main-content watcher-message hide">
	To access the help request form, please reach out to our support team by phone for more information or chat with a
representative on our main site.
</h1>

<div class="container-fluid container-fluid-max-xl hide main-content">
	<div class="row">
		<div class="col-sm-12">
			{{breadcrumbs}}
		</div>
	</div>

	<div class="justify-content-sm-center row">
		<div class="col-sm-6">
			<h1>
				{{t 'submit_a_request'}}
			</h1>

			<div class="request-form">
					{{request_form}}
			</div>
		</div>
	</div>
</div>