<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
			{{breadcrumbs}}
		</div>
	</div>

	<div class="justify-content-sm-center row">
		<div class="col-sm-6">
			<h1>{{t 'submit_a_request'}}</h1>

			<div class="request-form">
					{{request_form}}
			</div>
		</div>
	</div>
</div>
