.article-list {
	margin: 0;
	padding: 0;

	.article-list-item {
		list-style: none;
		padding-bottom: 1.5rem;
	}
}

.categories-main {
	margin-bottom: 6rem;

	.category-heading {
		padding-bottom: 1.5rem;
	}

	.section {
		margin-bottom: 3rem;
	}

	.section-name {
		color: $color-default;
		margin-bottom: 1.5rem;
	}
}

.section-content {
	margin-bottom: 6rem;

	header {
		margin-bottom: 2.5rem;
	}
}