a[role="button"],
input[type="submit"] {
	@include button-size(
		$btn-padding-y,
		$btn-padding-x,
		$font-size-base,
		$btn-line-height,
		$btn-border-radius
	);
}

a[role="button"],
input[type="submit"],
.btn-primary {
	background-color: $color-primary;
	border: $btn-border-width solid;
	color: $color-white;
	font-weight: $font-weight-semi-bold;

	&:focus {
		background-color: $color-primary-focus;
	}

	&:hover {
		background-color: $color-primary-hover;
	}

	&[disabled="true"] {
		background-color: $color-primary-disabled;
	}
}

a[role="button"] {
	display: inline-block;
	font-weight: $btn-font-weight;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
}

input[type="submit"] {
	border-color: transparent;
}

.btn-outline-primary {
	&,
	&:focus,
	&:hover {
		border-color: $color-primary;
		color: $color-primary;
	}

	&[disabled="true"] {
		border-color: $color-default-disabled;
		color: $color-default-disabled;
	}

	&:focus {
		background-color: $color-focus;
		box-shadow: none;
	}

	&:hover {
		background-color: $color-active;
	}
}