.section-container {
	.breadcrumbs {
		padding: 0;
	}

	.section-content {
		margin: 3rem 0;

		header {
			margin-bottom: 2rem;
		}

		.article-list {
			margin: 0;
			padding: 0;

			.article-list-item {
				list-style: none;
				padding-bottom: 1.5rem;
			}
		}
	}
}