.article-author,
.meta-group {
	display: flex;
}

.article-footer {
	padding-bottom: 6rem;
}

.article-label {
	background-color: $color-grey;
	border-width: 0;
	font-weight: normal;
	margin: $article-label-spacer-y 0;
}

.article-relatives {
	@include media-breakpoint-down(sm) {
		display: flex;
		margin: 0;

		.recent-articles,
		.related-articles {
			width: 50%;
		}
	}

	@include media-breakpoint-down(xs) {
		display: block;
	}
}

.article-sidenav {
	padding-right: 2.5rem;

	.nav-item,
	.sidenav-title {
		padding: $article-sidenav-spacer-y 0;
	}

	.sidenav-inner {
		background-color: $color-grey;
		border-radius: $input-border-radius;
		padding: 1.25rem 1.5rem;
	}
}

.article-vote {
	&:after {
		content: attr(title);
	}
}

.article-votes-controls {
	padding: $article-votes-control-spacer-y 0;
}

.article-votes-question {
	font-style: italic;
}

.meta-group {
	list-style: none;
	padding: 0;
}

.need-help {
	border-top: 1px solid $color-border;
	padding-bottom: 7.25rem;
	padding-top: 6rem;

	.display {
		padding-bottom: 2.875rem;
	}

	.lexicon-icon-ticket {
		height: 2rem;
		width: 2rem;
	}

	.new-request-link {
		padding-left: 1rem;
		padding-right: 2rem;
	}
}

.recent-articles,
.related-articles {
	margin-bottom: 2rem;

	h3 {
		font-size: $h5-font-size;
		line-height: $h5-line-height;
	}

	ul {
		list-style: none;
		padding: 0;
	}

	li {
		font-size: $font-size-sm;
		line-height: $line-height-sm;
		padding-bottom: $related-article-padding-y;
	}
}