a[role="button"],
input[type="submit"] {
	border: $btn-border-width solid;

	@include button-size(
		$btn-padding-y,
		$btn-padding-x,
		$font-size-base,
		$btn-line-height,
		$btn-border-radius
	);
}

a[role="button"] {
	display: inline-block;
	font-weight: $btn-font-weight;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
}

input[type="submit"] {
	border-color: transparent;
}
