h1 {
	font-size: $h1-font-size;

	&.display {
		font-size: $h1-display-font-size;
		line-height: 1.17;
	}
}

h1,
h2 {
	line-height: 40px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: $font-weight-semi-bold;
	margin-bottom: $margin-default;
}

h3,
h4 {
	line-height: $line-height-base;
}

h3,
h6 {
	text-transform: uppercase;
}

h2 {
	font-size: $h2-font-size;
	margin-top: $margin-default;
}

h3 {
	margin-top: 0.75rem;
}

h5 {
	font-size: $h5-font-size;
	line-height: 20px;
}

h6 {
	font-size: $h6-font-size;
	letter-spacing: 1px;
	line-height: $h6-line-height;
}

dd, p {
	margin-bottom: $margin-default;
}

input[type="search"] {
	box-sizing: border-box;
}

input:not([type="submit"]),
select,
textarea,
.nesty-input,
.upload-dropzone {
	background-clip: border-box;
	background-color: $input-bg;
	border: $input-border-width solid $input-border-color;
	border-radius: $input-border-radius;
	display: block;
	font-size: $font-size-base;
	height: auto;
	line-height: $input-line-height;
	padding: $input-padding-y $input-padding-x;
	width: 100%;
}

input:not([type="submit"]),
select,
textarea,
.nesty-input {
	color: $input-color;
}

main {
	border-bottom: 	1px solid $color-border;
}

.upload-dropzone {
	color: $secondary-text-color;
}

.article-content {
	img {
		width: 100%;
	}
}

.avatar {
	margin-right: $avatar-spacer-right;
}

.form-field {
	margin-bottom: $form-group-margin-bottom;
}

.main-content {
	margin-top: $navbar-height;
}

.secondary-font {
	font-size: $font-size-sm;
	line-height: $secondary-text-line-height;
}

.secondary-text-color {
	color: $secondary-text-color;
}

.semibold {
	font-weight: $font-weight-semi-bold;
}

.small {
	line-height: $line-height-sm;
}

.view-all {
	.lexicon-icon-arrow-right {
		height: 0.5rem;
		width: 0.625rem;
	}
}