.nav-card {
	border: 0;
	border-radius: $border-radius;
	color: $secondary-text-color;
	flex-basis: 50%;

	.description {
		font-size: $h5-font-size;
		margin: 0;
	}

	.icon {
		height: 2rem;
		margin-right: 1rem;
		width: 2rem;
	}

	.title {
		color: $color-default;
		margin-bottom: 0.25rem;
	}
}