.search-results {
	.breadcrumbs {
		margin-bottom: $breadcrumb-padding-y;
		margin-top: $breadcrumb-padding-y;
	}

	section {
		margin-top: 2.5rem;
	}

	.search-results-searchbox {
		input {
			height: 4rem;
		}
	}

	.search-results-list {
		list-style: none;
		padding: 0;

		.search-result {
			margin-bottom: 2rem;

			.search-result-link {
				display: block;
				margin-bottom: 0.25rem;
			}
		}
	}
}