.homepage {
	.banner {
		align-items: center;
		display: flex;

		.display {
			margin-bottom: 1rem;
		}

		.homepage-search {
			input[type="search"] {
				height: 3.5rem;
				background-image: clay-icon(
					search,
					$color-primary
				);
				background-position: right 1.5rem center;
				background-repeat: no-repeat;
				background-size: 1rem;
				padding-right: 2.8rem;
			}

			input[type="submit"] {
				display: none;
			}
		}

		.img {
			max-height: 100%;
			max-width: 100%;
		}
	}

	.suggested-topics {
		margin-bottom: 7.5rem;
		margin-top: 6rem;

		h2 {
			margin-bottom: 2rem;
		}

		.topic {
			h3,
			p {
				margin-bottom: 1.5rem;
			}
		}
	}
}