.pagination {
	font-size: $pagination-font-size;
	margin: $pagination-margin-bottom 0;

	a, span {
		background-color: $pagination-bg;
		border-radius: $border-radius;
		border: $pagination-border-width solid $pagination-border-color;
		color: $pagination-color;
		display: block;
		line-height: $pagination-line-height;
		margin-left: -$pagination-border-width;
		padding: $pagination-padding-y $pagination-padding-x;
		position: relative;
	}

	ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
		list-style: none;
	}

	.pagination-current {
		border-color: $pagination-active-border-color;

		span {
			background-color: $pagination-active-bg;
			color: $pagination-active-color;
		}
	}
}
