a[role="button"],
input[type="submit"] {
	@include button-size(
		$btn-padding-y,
		$btn-padding-x,
		$font-size-base,
		$btn-line-height,
		$btn-border-radius
	);
}

a[role="button"],
input[type="submit"],
.btn-primary {
	background-color: $color-primary;
	border: $btn-border-width solid;
	color: $color-white;
	font-weight: $font-weight-semi-bold;

	&:focus {
		background-color: $color-primary-focus;
	}

	&:hover {
		background-color: $color-primary-hover;
		box-shadow: 0 0.125rem 0.375rem 0 rgba(2, 19, 51, 0.36);
	}

	&[disabled="true"] {
		background-color: $color-primary-disabled;
	}
}

a[role="button"] {
	display: inline-block;
	font-weight: $btn-font-weight;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
}

input[type="submit"] {
	border-color: transparent;
}

.btn-outline-primary {
	&,
	&:focus,
	&:hover,
	&:not([href]):not([tabindex]),
	&:not([href]):not([tabindex]):focus,
	&:not([href]):not([tabindex]):hover {
		border-color: $color-primary;
		color: $color-primary;
	}

	&[disabled="true"] {
		border-color: $color-default-disabled;
		color: $color-default-disabled;
	}

	&[role="button"] {
		background-color: transparent;
	}

	&:focus,
	&:not([href]):not([tabindex]):focus {
		background-color: $color-focus;
		box-shadow: none;
	}

	&:hover,
	&:not([href]):not([tabindex]):hover {
		background-color: $color-active;
		box-shadow: 0 0.125rem 0.375rem 0 rgba(2, 19, 51, 0.15);
	}
}