.article-list {
	margin: 0;
	padding: 0;

	.article-list-item {
		list-style: none;
		padding-bottom: 1rem;
	}
}

.category-heading {
	padding-bottom: 3rem;
}

.section {
	margin-bottom: 2rem;
}

.section-content {
	header {
		margin-bottom: 2.5rem;
	}
}