.breadcrumbs {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin-bottom: $breadcrumb-margin-bottom;
	padding: $breadcrumb-padding-y $breadcrumb-padding-x;

	li {
		font-size: $breadcrumb-font-size;
		font-weight: $breadcrumb-font-weight;
		margin-right: 0.5em;
		position: relative;

		+ li {
			padding-left: 1em;

			&::before {
				background-image: $breadcrumb-divider-svg-icon;
				background-repeat: no-repeat;
				background-size: 100%;
				content: '';
				display: block;
				float: left;
				height: $breadcrumb-divider-svg-icon-height;
				left: 0;
				margin-top: -$breadcrumb-divider-svg-icon-height / 2;
				padding: 0;
				position: absolute;
				top: 50%;
				width: $breadcrumb-divider-svg-icon-width;
			}
		}

		a {
			color: $breadcrumb-active-color;

			&:hover {
				text-decoration: none;
			}
		}
	}
}