.homepage {
	.banner {
		align-items: center;
		display: flex;
		min-height: 26.5rem;

		.display {
			margin-bottom: 1rem;

			@include media-breakpoint-down(sm) {
				margin-top: 6rem;
			}
		}

		.banner-img-container {
			padding-left: 4.5rem;

			.img {
				margin-top: 3.125rem;
				max-height: 100%;
				max-width: 100%;
			}

			@include media-breakpoint-down(sm) {
				display: none;
			}
		}
	}

	.suggested-topics {
		margin-bottom: 7.5rem;
		margin-top: 6rem;

		h2 {
			margin-bottom: 2rem;
		}

		.topic {
			h3,
			p {
				margin-bottom: $margin-default;
			}
		}
	}
}