.pagination {
	font-size: $pagination-font-size;
	margin: $pagination-margin-bottom 0;

	a,
	span {
		color: $color-default;
		display: block;
		line-height: $pagination-line-height;
		padding: $pagination-padding-y $pagination-padding-x;
		position: relative;
	}

	ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
		list-style: none;
	}

	.pagination-current span {
		background-color: $color-active;
		color: $color-primary;
	}
}