.article-author,
.meta-group {
	display: flex;
}

.article-author {
	margin-bottom: $margin-default;

	.avatar {
		margin-right: $avatar-spacer-right;
	}

	.author-name {
		margin: 0;
	}
}

.article-body {
	color: $color-body;
}

.article-footer {
	padding-bottom: 6rem;

	.article-label {
		background-color: $color-grey;
		border-width: 0;
		font-weight: normal;
		height: 1.25rem;
		margin: 3rem 0;
		padding: 0.25rem 0.5rem;

		.label-item {
			color: $secondary-text-color;
			font-size: 0.625rem;
			font-weight: $font-weight-semi-bold;
			height: 1rem;
			line-height: 0.875rem;
			text-align: center;
			text-transform: uppercase;
		}
	}

	.article-votes {
		.article-votes-controls {
			padding: 1rem 0;
		}

		.article-votes-question {
			font-style: italic;
			font-weight: $font-weight-semi-bold;
		}

		.article-vote {
			margin-right: 1rem;
			width: 6rem;

			&:after {
				content: attr(title);
			}
		}
	}
}

.article-relatives {
	@include media-breakpoint-down(sm) {
		display: flex;
		margin: 0;

		.recent-articles,
		.related-articles {
			width: 50%;
		}
	}

	@include media-breakpoint-down(xs) {
		display: block;
	}
}

.article-sidenav {
	padding-right: 2.5rem;

	.nav-item {
		padding: $padding-default $padding-default 0 $padding-default;

		&:last-child {
			padding-bottom: $padding-default;
		}
	}

	.sidenav-inner {
		background-color: $color-grey;
		border-radius: $input-border-radius;
	}
}

.meta-group {
	list-style: none;
	padding: 0;
}

.recent-articles,
.related-articles {
	margin-bottom: 1.5rem;

	h3 {
		font-size: $h6-font-size;
		line-height: $h6-line-height;
	}

	ul {
		list-style: none;
		padding: 0;
	}

	li {
		font-size: $font-size-sm;
		line-height: $line-height-sm;
		padding-bottom: $padding-default;
	}
}