#mark_as_solved {
	display: none;
}

.attachment-meta {
	padding-left: $lexicon-icon-width;
}

.attachments,
.comment-list,
.request-collaborators {
	list-style: none;
	padding-left: 0;
}

.comment-author,
.comment-form {
	display: flex;
}

.comment-body img,
.comment-container {
	width: 100%;
}

.comment-list {
	.attachments,
	.comment-body {
		padding-left: $sticker-size + $avatar-spacer-right;
	}

	.comment {
		border-bottom: $border-width solid $input-border-color;

		&:first-child {
			border-top: $border-width solid $input-border-color;
		}
	}
}

.meta-data {
	&:not(:last-child)::after {
		content: "\00B7";
		padding-left: $label-spacer-x;
	}
}

.request-comment-form {
	display: flex;
}

.request-comment-form,
.request-form {
	footer,
	.comment-form-controls {
		float: right;
	}

	label {
		color: $input-label-color;
		font-size: $input-label-font-size;
		font-weight: $input-label-font-weight;
		margin-bottom: $input-label-margin-bottom;
		max-width: 100%;
		word-wrap: break-word;
	}

	textarea {
		height: $input-textarea-height;
	}

	.form-field,
	.suggestion-list .searchbox {
		margin-bottom: $form-group-margin-bottom;
	}
}

.request-details {
	&:not(:last-child) {
		border-bottom: $border-width solid $input-border-color;
	}

	dd,
	dt {
		display: inline-block;
		font-size: $font-size-sm;
		line-height: $line-height-sm;
	}

	dd {
		width: 59%;
	}

	dt {
		color: $secondary-text-color;
		font-weight: $font-weight-normal;
		vertical-align: top;
		width: 40%;
	}
}

.request-filter {
	.organization {
		max-width: 250px;
	}

	.status {
		max-width: 200px;
	}

	.subscribe {
		max-width: 85px;
	}

	.organization,
	.status,
	.subscribe {
		@include media-breakpoint-down(sm) {
			max-width: none;
		}
	}
}

.request-sidebar {
	background-color: $color-grey;
}

.status-label,
.suggestion-list label {
	text-transform: uppercase;
}

.status-label-answered {
	border-color: $color-success;
	color: $color-success;
}

.status-label-open {
	border-color: $color-error;
	color: $color-error;
}

.status-label-solved {
	border-color: $secondary-text-color;
	color: $secondary-text-color;
}

.suggestion-list {
	a {
		line-height: $suggestion-list-line-height;
		text-decoration: none;
	}

	.searchbox {
		border: $input-border-width solid $input-border-color;
		border-radius: $input-border-radius;
		color: $suggestion-list-font-color;
		padding: $suggestion-list-padding;
	}
}