h1 {
	font-size: $h1-font-size;
	font-weight: $font-weight-light;
	line-height: $h1-line-height;

	&.display {
		font-size: $h1-display-font-size;
		line-height: $h1-display-line-height;
	}
}

h2 {
	font-size: $h2-font-size;
	line-height: $h2-line-height;

	&.display {
		font-size: $h2-display-font-size;
		font-weight: $font-weight-light;
		letter-spacing: $h2-display-letter-spacing;
		line-height: $h2-display-line-height;
	}

	&.semibold {
		font-size: $h2-semibold-font-size;
		font-weight: $font-weight-semi-bold;
		line-height: $h2-semibold-line-height;
	}
}

h3 {
	letter-spacing: $h3-letter-spacing;
}

h3,
h4 {
	font-size: $h3-font-size;
	font-weight: $font-weight-semi-bold;
	line-height: $line-height-base;
}

h3,
h4,
h5 {
	font-weight: $font-weight-semi-bold;
}

h3,
h5 {
	text-transform: uppercase;
}

h5 {
	font-size: $h5-font-size;
	letter-spacing: $h5-letter-spacing;
	line-height: $h5-line-height;
}

input[type="search"] {
	box-sizing: border-box;
}

input:not([type="submit"]),
select,
textarea,
.nesty-input,
.upload-dropzone {
	background-clip: border-box;
	background-color: $input-bg;
	border: $input-border-width solid $input-border-color;
	border-radius: $input-border-radius;
	color: $input-color;
	display: block;
	font-size: $font-size-base;
	height: auto;
	line-height: $input-line-height;
	padding: $input-padding-y $input-padding-x;
	width: 100%;
}

.avatar {
	margin-right: $avatar-spacer-right;
}

.form-field {
	margin-bottom: $form-group-margin-bottom;
}

.secondary-font {
	font-size: $font-size-sm;
	line-height: $line-height-sm;
}

.secondary-text-color {
	color: $secondary-text-color;
}

.semibold {
	font-weight: $font-weight-semi-bold;
}

.subtitle {
	font-weight: $font-weight-light;
}