.need-help {
	border-top: 1px solid $color-divider;
	padding-bottom: 7.25rem;
	padding-top: 6rem;

	h2 {
		margin-bottom: $margin-default;
	}

	.icon {
		height: 2rem;
		width: 2rem;
	}

	.link {
		padding-left: 1rem;
		padding-right: $padding-default;
	}

	@include media-breakpoint-down(xs) {
		.message {
			display: block;
		}
	}
}