/* ---------- Variable overrides ---------- */

$font-family-base: -apple-system, BlinkMacSystemFont, "Source Sans Pro", "Source Serif Pro", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

$font-weight-semi-bold: 600 !default;

$h1-font-size: 2.5rem !default; // 40px
$h2-font-size: 1.5rem !default; // 24px

$breadcrumb-active-color: null !default;
$breadcrumb-divider-color: null !default;

$form-group-item-label-spacer: 1.875rem !default; // 30px

$input-label-font-size: 0.875rem !default; // 14px
$input-label-font-weight: $font-weight-semi-bold !default;
$input-padding-x: 1rem !default; // 16px
$input-padding-y: 0.5rem !default; // 8px

$lexicon-icon-width: 1rem !default; //16px

$table-cell-padding: 0.875rem !default; // 14px

$navbar-padding-x: 0 !default;

/* ---------- Custom variables ---------- */

$secondary-text-color: #6B6C7E !default;
$side-nav-background-color: #F7F8FA !default;

$h1-line-height: 1.4 !default; // 56px
$h2-line-height: 1.34 !default; // 32px
$line-height-sm: 1.429 !default; // 20px

$avatar-spacer-right: 1rem !default; //16px

$breadcrumb-divider-svg-icon: clay-icon(
	angle-right,
	$breadcrumb-divider-color
) !default;
$breadcrumb-divider-svg-icon-height: 0.75em !default;
$breadcrumb-divider-svg-icon-width: $breadcrumb-divider-svg-icon-height !default;
$breadcrumb-font-size: null !default;
$breadcrumb-font-weight: null !default;

$suggestion-list-line-height: 2 !default;
$suggestion-list-font-color: null !default;
$suggestion-list-padding: 1.5rem !default; //24px