#mark_as_solved,
.comment-fields,
.request-submit-comment {
	display: none;
}

#request_organization_id:disabled {
	color: #CCC;
	cursor: not-allowed;
}

.attachment-meta {
	padding-left: $lexicon-icon-width;
}

.attachments,
.comment-list,
.request-collaborators {
	list-style: none;
	margin-top: 0.5rem;
	padding-left: 0;
}

.comment-body img {
	width: 100%;
}

.comment-list {
	margin-bottom: $margin-default;

	.comment {
		border-bottom: $border-width solid $input-border-color;

		&:first-child {
			border-top: $border-width solid $input-border-color;
		}
	}

	.comment-author {
		font-weight: $font-weight-semi-bold;
	}

	.comment-body {
		padding-top: 1rem;

		p {
			margin: 0;
		}
	}
}

.hide {
	display: none;
}

.individual-request {
	margin-bottom: 6rem;

	.request-details {
		&:not(:last-child) {
			border-bottom: $border-width solid $input-border-color;
			margin-bottom: $margin-default;
		}

		dd,
		dt {
			display: inline-block;
			font-size: $font-size-sm;
			line-height: $secondary-text-line-height;
		}

		dd {
			width: 58%;
		}

		dt {
			color: $secondary-text-color;
			font-weight: $font-weight-normal;
			width: 40%;
		}
	}

	.request-sidebar {
		padding: 0;

		.sidebar-container {
			background-color: $color-grey;
			border-radius: $border-radius;
			padding: $padding-default;
		}
	}

	.request-subject {
		margin-bottom: $margin-default;
	}
}

.meta-data {
	&:not(:last-child)::after {
		content: "\00B7";
		padding-left: $label-spacer-x;
	}
}

.comment-form,
.request-form {
	padding-bottom: $padding-default;

	label {
		color: $input-label-color;
		font-size: $input-label-font-size;
		margin-bottom: $input-label-margin-bottom;
		max-width: 100%;
		word-wrap: break-word;
	}

	footer {
		margin-bottom: 6rem;
		margin-top: 3rem;
	}

	textarea {
		height: $input-textarea-height;
	}

	#request_description_hint {
		color: $secondary-text-color;
		font-size: $small-font-size;
		margin-top: 0.25rem;
	}

	.comment-form-controls {
		display: flex;
		float: right;

		.request-submit-comment {
			margin-left: 1rem;
		}
	}

	.comment-show-container {
		margin-bottom: $margin-default;
	}

	.form-field,
	.suggestion-list .searchbox {
		margin-bottom: $margin-default;
	}

	.form-field {
		> label::after {
			color: $color-error;
			content: " *";
		}
	}
}

.request-container {
	padding-right: 6rem;

	.autofit-col-expand {
		padding-left: 0;
	}

	.autofit-padded > .autofit-col {
		padding-top: 1rem;
	}
}

.request-filter {
	label {
		color: $secondary-text-color;
	}

	input[type="text"] {
		background-image: clay-icon(search, $color-primary);
		background-position: right 1rem center;
		background-repeat: no-repeat;
		background-size: 1rem;
		padding-right: 2.5rem;
	}

	.organization {
		max-width: 250px;
	}

	.status {
		max-width: 200px;
	}

	.subscribe {
		max-width: 85px;
	}

	.organization,
	.status,
	.subscribe {
		@include media-breakpoint-down(sm) {
			max-width: none;
		}
	}
}

.requests-link {
	.requests-sort-symbol {
		padding-left: 0.25rem;
	}
}

.status-label {
	background-color: $color-white;
	font-weight: $font-weight-semi-bold;
	text-transform: uppercase;
}

.status-label-answered {
	border-color: $color-success;
	color: $color-success;
}

.status-label-open {
	border-color: $color-error;
	color: $color-error;
}

.status-label-solved {
	border-color: $secondary-text-color;
	color: $secondary-text-color;
}

.suggestion-list {
	background-color: $color-active;
	border-radius: $input-border-radius;

	a {
		font-size: $h5-font-size;
		line-height: 2;
		text-decoration: none;
	}

	label {
		background-image: clay-svg-url(
			'<svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><circle fill="#2E5AAC" cx="10" cy="10" r="10"/><path d="M11.562 13.61v.546c0 .104-.029.196-.087.274a.543.543 0 0 1-.225.175v.176c0 .13-.046.241-.137.332a.452.452 0 0 1-.332.137H9.22a.452.452 0 0 1-.332-.137.452.452 0 0 1-.137-.332v-.176a.543.543 0 0 1-.225-.175.443.443 0 0 1-.088-.274v-.547c0-.065.023-.12.069-.166a.226.226 0 0 1 .166-.068h2.656c.065 0 .12.023.166.068.046.046.068.101.068.166zm-2.792-.86a.481.481 0 0 1-.274-.078.374.374 0 0 1-.156-.215 5.496 5.496 0 0 0-.508-.996 8.252 8.252 0 0 0-.488-.664c-.274-.339-.462-.612-.567-.82-.143-.339-.215-.769-.215-1.29 0-.624.153-1.2.46-1.728a3.386 3.386 0 0 1 1.25-1.25A3.383 3.383 0 0 1 10 5.25c.625 0 1.201.153 1.729.459.527.306.944.723 1.25 1.25.305.527.458 1.104.458 1.729 0 .52-.071.95-.214 1.289-.105.208-.293.481-.567.82-.208.26-.37.482-.488.664-.195.3-.365.631-.508.996a.374.374 0 0 1-.156.215.481.481 0 0 1-.274.078H8.77zm-.333-4.062c0-.43.153-.798.46-1.104A1.505 1.505 0 0 1 10 7.125c.091 0 .166-.03.225-.088a.304.304 0 0 0 .087-.224.304.304 0 0 0-.087-.225A.304.304 0 0 0 10 6.5c-.39 0-.755.098-1.094.293a2.148 2.148 0 0 0-.8.8 2.152 2.152 0 0 0-.294 1.095c0 .09.03.166.088.224A.304.304 0 0 0 8.125 9c.091 0 .166-.03.225-.088a.304.304 0 0 0 .087-.224z" fill="#FFF"/></svg>'
		);
		background-position: left 0 center;
		background-repeat: no-repeat;
		background-size: 1em auto;
		color: $color-info;
		font-size: $normal-font-size;
		font-weight: $font-weight-semi-bold;
		padding-left: 2rem;
	}

	ul {
		list-style: none;
		margin: 0;
		padding-left: 2rem;
	}

	.searchbox {
		padding: $padding-default;
	}
}

.upload-dropzone {
	a,
	span {
		font-size: $input-label-font-size;
	}

	a:not([href]):not([tabindex]) {
		color: $color-primary;
		font-weight: $font-weight-semi-bold;
	}

	span {
		color: $color-default;
	}
}

.user-activity {
	margin-bottom: 4rem;

	h1 {
		padding-top: 3rem;
	}

	table {
		td:not([class]),
		th {
			font-size: $font-size-sm;
			line-height: $line-height-sm;
		}

		td.request-info,
		th,
		th:first-child {
			padding-left: 0;
		}

		th {
			font-weight: $font-weight-normal;

			&,
			&:first-child,
			&:last-child,
			&:only-child {
				box-shadow: none;
			}

			&,
			a {
				color: $secondary-text-color;
			}
		}
	}

	.navbar {
		border-bottom: 1px solid $color-divider;
		margin-bottom: $margin-default;

		.nav-link {
			color: $secondary-text-color;

			&.active {
				color: $color-default;
			}
		}
	}
}