.homepage {
	.banner {
		align-items: center;
		display: flex;
		min-height: 26.5rem;

		.display {
			margin-bottom: 1rem;
		}

		.homepage-search {
			input[type="search"] {
				background-image: clay-icon(
					search,
					$color-primary
				);
				background-position: right 1.5rem center;
				background-repeat: no-repeat;
				background-size: 1rem;
				box-shadow: 0 0.5rem 1rem -0.5rem rgba(39, 40, 51, 0.05);
				height: 4.125rem;
				padding-left: 1.5rem;
				padding-right: 2.8rem;
			}

			input[type="submit"] {
				display: none;
			}
		}

		.img {
			margin-top: 3.125rem;
			max-height: 100%;
			max-width: 100%;
		}
	}

	.suggested-topics {
		margin-bottom: 7.5rem;
		margin-top: 6rem;

		h2 {
			margin-bottom: 2rem;
		}

		.topic {
			h3,
			p {
				margin-bottom: 1.5rem;
			}
		}
	}
}