.search-results {
	section {
		margin-top: 2.5rem;
	}

	.breadcrumbs {
		margin-bottom: 0;
		margin-top: 0.25rem;
	}

	.no-results {
		display: flex;
		margin-bottom: 10rem;

		.no-results-msg {
			padding-left: $padding-default;

			h4 {
				margin-bottom: $margin-default;
				margin-top: 0.25rem;
			}
		}
	}

	.page-header-description {
		margin-bottom: $margin-medium;
	}

	.search-result-description {
		font-weight: $font-weight-normal;
		margin-bottom: 0;
	}

	.search-results-list {
		list-style: none;
		margin-bottom: 3rem;
		padding: 0;

		.search-result {
			margin-bottom: 2rem;
		}
	}
}